@charset"UTF-8";
/***********页头部分***************/
header{
	width:1282px;
	height:60px;
	margin:0px auto;
	background-color:#333;
	
}
header div{
	width:1240px;
	overflow:hidden;
	margin:0px auto;
	padding-left:17px;
}
header div ul li{
	Float:left;
	line-height:60px;
	text-align:center;
	list-style:none;
}
header div ul li b{
	display:inline-block;
	width:6px;
	height:6px;
	background:#000;
	border-radius:50%;
	margin:0px 5px;
}
header div ul li a{
	display:inline-block;
	width:70px;
	height:60px;
	color:#fff;
	font-size:12px;
	font-weight:500;
	text-decoration:none;
}
header div ul li a:hover{
	color:#9bafa3;
}
/******正文部分 width=“1238px” border="1px solid #cdcdcd"*****/
section{
	width:1240px;
	margin:0px auto;
}
section>div{
	width:1238px;
	margin:20px 0px;
	background:#fff;
	border:1px solid #cdcdcd;
	box-shadow:1px 0px 2px #9f9f9f;
	padding:10px 0px;
}
/**************文章1 article1************/
#article1 h2,#article2 h2,#article3 h2,#article4 h2,#userinfor h2{
	color:#626262;
}
#article1 h3,#article2 h3,#article3 h3,#article4 h3,#userinfor h3 {
	color:#717171;
	font-weight:400;
}
#article1  h3 a,#article2  h3 a,#article3 h3 a,#article4  h3 a{
	text-decoration:none;
	color:#717171;
	margin-right:5px;
}
/**************文章2 article2************/
div#article2 ul{
	padding-left:20px;
}
div#article2 ul li{
	list-style:none;
	width:150px;
	height:25px;
	line-height:25px;
}
/**************文章3 图片层************/
div#article3 div{
	width:570px;
	padding:10px;
	border:1px solid #cecece;
	margin-top:15px;
}
div#article3 div p{
	text-align:center;
}
/**************文章4 列表和表格************/
ol li{
	height:25px;
	width:100px;
}
#article4 table{
	width:1200px;
	border:none;
}
#article4 table thead{
	background:#333;
	color:#fff;
	font-weight:bold;
}
#article4 table tr td{
	padding:5px;
	width:390px;
	height:25px;
}
#article4 table tfoot{
	background:#ccc;
	color:#000;
	font-weight:bold;
}
/**************用户注册信息************/
div#userinfor h1{
	display:block;
	border-left:3px solid #cacaca;
	padding-left:10px;
	height:45px;
	line-height:45px;
}
div#userinfor table{
	margin-left:270px;
}
div#userinfor table tr td{
	
}
div#userinfor form input.sex{
	background:#3e99ff;
	color:#fff;
}
div#userinfor form p{
	color:#a4999d;
}
div#userinfor form input.submit{
	width:1180px;
	height:40px;
	background:#3355d0;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	border:none;
	border-radius:8px;
	margin:10px auto;
}
/*****************************页尾部分************************************/
footer{
	margin:0px auto;
	background:#000;
	width:1280px;
	height:70px;
	padding-top:20px;
}
footer p{
	text-align:center;
	color:#fff;
}